<div>
  <md-card>
    <md-card-content>
      <h2 style='margin-top:0px;'>Who am I?</h2>
      <p>I'm Colin Harris, a junior studying Computer Science at the University of Wisconsin - Madison. Currently, I'm puruing a B.S., but am considering further education to achieve either a master's degree in CS or an MBA. Over the last few years I've taken several CS courses and created/participated in many projects outside of class. It has been a great time meeting new friends and working with new technologies along the way. When I'm not either at work or school you can probably find me outside tossing a frisbee or at the gym.</p>
    </md-card-content>
  </md-card>
</div>

<div>
  <md-card>
    <md-card-content>
      <h2 style='margin-top:0px;'>How did I get into tech?</h2>
      <p>My older brother Devon Harris is a UW-Madison alum, working as a software engineer. He introduced me to the field and encouraged me to dip into some CS courses. I took the introductory programming classes as a freshman. After that I jumped into a Compilers course, where things started to make sense. After a few more courses and a summer internship, I decided to start doing some projects in my free time. Check out my <md-button href='#projects' id='projectsBtn' class='md-raised'>Projects Page</md-button> to read about some!</p>
    </md-card-content>
  </md-card>
</div>


<!-- May want to reintroduce this -->
<!--
<div>
  <h1>Europe Trip</h1>
  <p class='descriptionText'>In the summer of 2013, my brother, his friend and I took a month long backpacking trip throughout Europe. We traveled to quite a lot of places in that month, staying in each city for roughly three days each. Here are some of the major places we visted:</p>
  <ul class='descriptionText travelList'>
    <li>Barcelona, Spain</li>
    <li>Marseille, France</li>
    <li>Nice, France</li>
    <li>Rome, Italy</li>
    <li>Florence, Italy</li>
    <li>Venice, Italy</li>
    <li>Munich, Germany</li>
    <li>Prague, Czech Republic</li>
    <li>Amsterdam</li>
    <li>Salzburg, Austria</li>
    <li>Vienna, Austria</li>
    <li>Paris, France</li>
  </ul>
  <p class='descriptionText'>We saw some pretty amazing places along the trip. Hopefully I can visit Europe again.</p>  
</div>
-->
