<div class='myContainer'>
  <h1>How did I get into tech?</h1>
  <p class='descriptionText'>My older brother Devon Harris is a UW-Madison alum, working as a software engineer. He introduced me to the field and encouraged me to dip into some CS courses. I took the introductory programming classes as a freshman. After that I jumped into a Compilers course, where things started to make sense. After a few more courses and a summer internship, I decided to start doing some projects in my free time. Check out my <a class='btn btn-default' href='#projects'>Projects Page</a> to read about some!</p>
</div>

<hr>

<div class='myContainer'>
  <h1>Europe Trip</h1>
  <p class='descriptionText'>In the summer of 2013, my brother, his friend and I took a month long backpacking trip throughout Europe. We traveled to quite a lot of places in that month, staying in each city for roughly three days each. Here are some of the major places we visted:</p>
  <ul class='descriptionText'>
    <li>Barcelona, Spain</li>
    <li>Marseille, France</li>
    <li>Nice, France</li>
    <li>Rome, Italy</li>
    <li>Florence, Italy</li>
    <li>Venice, Italy</li>
    <li>Munich, Germany</li>
    <li>Prague, Czech Republic</li>
    <li>Amsterdam</li>
    <li>Salzburg, Austria</li>
    <li>Vienna, Austria</li>
    <li>Paris, France</li>
  </ul>
  <p class='descriptionText'>We saw some pretty amazing places along the trip. Hopefully I can visit Europe again.</p>
  
</div>