<div>
  <div class='headerText'>
    <h1>About Me</h1>
  </div>

  <md-card>
    <md-card-content>
      <h2 style='margin-top:0px;'>Who am I?</h2>
      <p>
        I'm Colin Harris, a graduate of the University of Wisconsin - Madison. Over the last few years I've taken several CS courses and created and participated in many projects outside of class. I've done a lot of work with web development and enjoy trying out new frameworks and patterns. I'm also really interested in mobile development. I've worked on a few small projects, and I hope to publish some iOS apps to the App Store this year. When I'm not coding or in class you can probably find me outside tossing a frisbee or at the gym.</p>
    </md-card-content>
  </md-card>
</div>

<!--
<div>
  <md-card>
    <md-card-content>
      <h2 style='margin-top:0px;'>How did I get into tech?</h2>
      <p>My older brother, Devon Harris, is a UW-Madison alum working as a software engineer. He introduced me to the field and encouraged me to take the introductory CS courses. At first I struggled with some of the concepts, but it all began to come together after taking a Compilers course. Then after a few more courses and a couple summer internships, I decided to start doing some projects in my free time. Check out my <md-button href='#projects' id='projectsBtn' class='md-raised'>Projects Page</md-button> to read about some!</p>
    </md-card-content>
  </md-card>
</div>
-->

<!-- May want to reintroduce this -->
<!--
<div>
  <h1>Europe Trip</h1>
  <p class='descriptionText'>In the summer of 2013, my brother, his friend and I took a month long backpacking trip throughout Europe. We traveled to quite a lot of places in that month, staying in each city for roughly three days each. Here are some of the major places we visted:</p>
  <ul class='descriptionText travelList'>
    <li>Barcelona, Spain</li>
    <li>Marseille, France</li>
    <li>Nice, France</li>
    <li>Rome, Italy</li>
    <li>Florence, Italy</li>
    <li>Venice, Italy</li>
    <li>Munich, Germany</li>
    <li>Prague, Czech Republic</li>
    <li>Amsterdam</li>
    <li>Salzburg, Austria</li>
    <li>Vienna, Austria</li>
    <li>Paris, France</li>
  </ul>
  <p class='descriptionText'>We saw some pretty amazing places along the trip. Hopefully I can visit Europe again.</p>
</div>
-->
