<div>
  <h3>Feel free to contact me with any questions or comments:</h3>
  
  <div style='margin-left: 10px;'>
    <div>
      <img style='margin: 5px; position:relative; width:30px; height: 30px;' src='../img/linkedIn_icon.png'>
      <h4 style='display:inline'><md-button style='display:inline; padding: 10px;' href='https://www.linkedin.com/pub/colin-harris/8a/874/255' target='_blank'>LinkedIn Profile</md-button></h4>
    </div>
    <br>
    <div>
      <img style='margin: 5px; position:relative; width: 30px; height: 30px;' src="../img/mail_icon.png">
      <h4 style='display:inline;'><md-button style='display:inline; padding: 10px;' href='' target='_blank'>charris4@wisc.edu</md-button></h4>
    </div>
  </div>
</div>




<!--
<div ng-controller='contactController' layout="column" ng-cloak class="md-inline-form">
  <md-content layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Name</label>
        <input ng-model="user.title">
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email">
      </md-input-container>
      <md-button ng-click='submitContact'>Submit</md-button>
    </div>
  </md-content>
</div>-->
