<div>
  <div class='fadeInRight'>
    <img 
      class='uw_logo animated fadeInUp' 
      src='../img/uwlogo.png'/>
  </div>
  
  <h3>Bachelors of Science in Computer Science</h3>

  <h4>
    I am in my senior year at UW-Madison and will be graduating with a degree in Computer Science. Below is a list of all the courses I have taken or am currently taking.
  </h4>

  <br>

  <h3>Courses</h3>
  <table class="table table-striped" style='background-color: white;'>
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Course Number</th>
        <th>Term</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Networks</td>
        <td>640</td>
        <td>Fall</td>
        <td>2016</td>
      </tr>
      <tr>
        <td>Artificial Intelligence</td>
        <td>540</td>
        <td>Fall</td>
        <td>2016</td>
      </tr>
      <tr>
        <td>Database Management Systems</td>
        <td>564</td>
        <td>Spring</td>
        <td>2016</td>
      </tr>
      <tr>
        <td>Operating Systems</td>
        <td>537</td>
        <td>Fall</td>
        <td>2015</td>
      </tr>
      <tr>
        <td>Algorithms</td>
        <td>564</td>
        <td>Fall</td>
        <td>2015</td>
      </tr>
      <tr>
        <td>Learn a New Programming Language - C++</td>
        <td>564</td>
        <td>Fall</td>
        <td>2015</td>
      </tr>
      <tr>
        <td>Machine Organization and Programming</td>
        <td>564</td>
        <td>Spring</td>
        <td>2015</td>
      </tr>
      <tr>
        <td>Digital System Fundamentals</td>
        <td>564</td>
        <td>Spring</td>
        <td>2015</td>
      </tr>
      <tr>
        <td>Compilers</td>
        <td>564</td>
        <td>Fall</td>
        <td>2014</td>
      </tr>
      <tr>
        <td>Discrete Mathematics</td>
        <td>240</td>
        <td>Fall</td>
        <td>2014</td>
      </tr>
      <tr>
        <td>Intro to Computer Engineering</td>
        <td>252</td>
        <td>Fall</td>
        <td>2014</td>
      </tr>
      <tr>
        <td>Data Structures</td>
        <td>367</td>
        <td>Spring</td>
        <td>2014</td>
      </tr>
      <tr>
        <td>Intro to Programming</td>
        <td>302</td>
        <td>Fall</td>
        <td>2013</td>
      </tr>      
    </tbody>
  </table>

</div>
