<div class='myContainer'>
  <img class='uw_logo' src='../img/UW_Logo.jpg' style=';height: 80px; width 80px;' />
	<h1 align='center' style='display: inline, text-align:center;'>University of Wisconsin - Madison</h1>
	<hr>
  <h3>Bachelors of Science in Computer Science</h3>

  <p class='descriptionText'>I am currently a junior at UW-Madison, pursuing a degree in Computer Science. After taking some introductory computer science courses I decided that it was the major for me. I quickly dove into the curriculum and that helped me in getting my first intership after my freshman year. My current and past courses are listed below, and I'm eager to take several more in the upcoming semesters. I'm extremely interested in artifical intelligence and mobile development, and am hoping to take them in the upcoming Spring semester.</p>

  <h3>Courses</h3>
    <ul class='descriptionText'>
      <li>Operating Systems (CS 537)</li>
      <li>Algorithms (CS 577)</li>
			<li>Compilers (CS 536)</li>
			<li>Data Structures (CS 367)</li>
			<li>Learn a New Programming Language - C++ (CS 368)</li>
      <li>Machine Organization and Programming (CS 354)</li>
      <li>Digital System Fundamentals (CS 352)</li>
      <li>Discrete Mathematics (CS 240)</li>
      <li>Intro to Computer Engineering (CS 252)</li>
      
      <li>Intro to Programming (CS 302)</li>
    </ul>
</div>