<h1>University of Wisconsin - Madison <img src='../img/UW_Logo.jpg'></h1>
<h2>Bachelors of Science in Computer Science</h2>

<p>
I am currently a junior at UW-Madison, pursuing a degree in Computer Science.
</p>

<h3>Courses</h3>
<ul>
  <li>Operating Systems (CS 537)</li>
  <li>Algorithms (CS 577)</li>
  <li>Compilers (CS 536)</li>
  <li>Machine Organization and Programming (CS 354)</li>
  <li>Digital System Fundamentals (CS 352)</li>
  <li>Discrete Mathematics (CS 240)</li>
  <li>Intro to Computer Engineering (CS 252)</li>
  <li>Data Structures (CS 367)</li>
  <li>Intro to Programming (CS 302)</li>
</ul>