<div class='myContainer'>
  <h1 style='display: inline'>Dell Software</h1> <img src='../img/Dell_logo.png' style='height: 50px; width: 50px;'><br>
  <h2 style='display: inline;'>Software Enginner Intern</h2> <span style='float: right;'>June 2015 - August 2015 | Madison, WI</span>
  <p>Combined technologies including Owin/Katana, NancyFX, SignalR, and AngularJS to create a lightweight web-based data analysis tool.</p>
</div>

<hr>

<div>
  <h1>Maverick Software Consulting</h1>
  <h2 style='display: inline;'>Software Enginner Intern</h2><span style='float: right;'>May 2014 - August 2014 | Madison, WI</span>
  <p>Worked with Thomson Reuters developing web pages for a testing environment utilized by 400+ testers at Thomson Reuters using C# Razor and Visual Studio. Used Model-View-Controller (MVC) architectural pattern</p>
</div>