<md-card class='animated zoomInDown hvr-grow-shadow'>
   <md-card-content>
     <a href='http://www.nationaldecisionsupport.com/' target='_blank' id='ndsc'><h2 style='display:inline;'>National Decision Support Company</h2><img class='experience_logos md-card-image' src='../img/ndsc_logo.png' style='height: 70px; width: 170px; top: 4px;'></a>
     <span class='timeRange'>February 2016 - Present | Madison, WI</span>
     <p>
       Working on the ACRSelect product to provide clinical decision support to healthcare providers. Currently building a hierarchical view to display relevant information to a client.
     </p>
  </md-card-content>
</md-card>

<md-card class='animated zoomInDown '>
 <md-card-content>
   <h2 style='display:inline;'>Dell Software</h2><img class='experience_logos md-card-image' src='../img/Dell_logo.png' style='height: 50px; width: 50px;'>
   <span class='timeRange'>June 2015 - January 2016 | Madison, WI</span>
   <p>
     Working with a group of 5 other interns, we were asked to create a log viewer that offers specific solutions to customers. As our team split into smaller groups, I chose to focus on front-end development. Using AngularJS and an internal styling library (CUI), I was able to create a clean and reponsive user interface. We created an API on our backend using <a href='http://nancyfx.org/'>NancyFX</a>. The times I would work on the back-end I was working with some other great technologies including Owin/Katana and SignalR.
   </p>
  </md-card-content>
</md-card>


<md-card class='animated zoomInDown'>
 <md-card-content>
   <h2 style='display:inline;'>Maverick Software Consulting</h2><img class='experience_logos md-card-image' src='../img/Maverick_logo.png' style='height: 50px; width: 200px;'>
   <span class='timeRange'>May 2014 - August 2014 | Madison, WI</span>
   <p>
     During my time at Maverick Software Consulting I worked remotely with Thomson Reuters employees developing web pages for a testing environment that was utilized by 400+ testers at Thomson Reuters. Using C# and Razor, I created new webpages and tested functionality. I also experimented with API tools such as <a href='https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop?hl=en'>PostMan</a> and <a href='http://www.telerik.com/fiddler'>Fiddler</a>. I took advantage of the Model-View-Controller (MVC) architectural pattern throughout the process. The experience taught me about basic web development, how to interact with APIs, and was my first experience working with a team on a large code base.
   </p>
 </md-card-content>
</md-card>