<div style='margin-bottom: 200px;'>
  <div class='myContainer'>
    <img id='myPic' class='img-circle' src='../img/Me.jpg' >
    <div style='text-align: center;'>
      <h1 style='font-size: 90px;'>Colin Harris</h1>
      <h2 style='color: gray;'>Software Engineer Intern at the National Decision Support Company</h2>
      <h3 style='font-size: 35px;'>A software developer studying Computer Science at the University of Wisconsin - Madison. Here you can find some of my relevent course work, job experience, personal projects and a little more about myself.</h3>
    </div>
  </div>
</div>