<div class='myContainer'>
  <img id='myPic' style='display:block;
  margin-left:auto;
  margin-right:auto;
                         width: 250px; height: 250px; padding: 10px;' class='img-circle' src='../img/Me.jpg' >

  <div style='text-align: center;'>
    <h1 style='font-size: 90px;'>Hello, World! </h1>
    <h2 style='font-size: 35px;'>I'm Colin Harris, an aspiring software developer studying at the University of Wisconsin - Madison. Here you can find some of my relevent course work, job experience, personal projects and a little more about myself.</h2>
  </div>
</div>