<div class='myContainer'>
  <h1 style='display: inline'>Robartender (Most Mad Hack Award)</h1><span style='font-size: 20px;'> - Spring 2015</span>
  <h3>C (Arduino)</h3>
  <p class='projectDesc'>A robotic drink mixer that can serve you different combinations of drinks. Uses a mobile app to order
  drinks and will automatically pour them.</p>
  <img id='robartenderPic' src='../img/Robartender.jpg' style='height:200px; width: 250px; padding: 10px;' />
</div>

<hr>

<div class='myContainer'>
  <h1 style='display: inline'>LiftTracker</h1><span> – Summer 2015 – present</span>
  <h3>AngularJS, Node.js, MongoDB</h3>
  <p class='projectDesc'>A suite of tools that athletes can utilize to generate lifting programs and track progress.</p>
</div>

<hr>
  
<div class='myContainer'>  
  <h1 style='display: inline'>HelpOut</h1><span> – May 2015 – Summer 2015</span>
  <h3>Ruby on Rails</h3>
  <p class='projectDesc'>A twitter-like website used to authenticate a user, then allow them to post help requests to a feed. A user
  has a profile that contains all of their requests.</p>
</div>

<hr>

<div class='myContainer'>  
  <h1 style='display: inline'>Beatpad</h1><span> - Summer 2015 – present</span>
  <h3>iOS</h3>
  <p class='projectDesc'>iPhone application to record and playback sounds. Customize sounds and put create songs easily.</p>
</div>

<hr>

<div class='myContainer'>  
  <h1 style='display: inline'>Fitbit Tracker</h1><span> - August 2015 - present</span>
  <h3>Ruby on Rails</h3>
  <p class='projectDesc'>Used Ruby’s fitgem API to fetch and display fitbit data on a Rails website. Compared data from my parents such as daily / weekly steps.</p>
</div>

<hr>

<div class='myContainer'>
  <h1 style='display: inline'>Chrome Extension</h1><span> - August 2015</span>
  <h3>Javascript</h3>
  <p class='projectDesc'>Simple chrome plugin utilizing GTmetrix API to generate performance and suggestions about a webpage.</p>
</div>
