<h1>Robartender (Most Mad Hack Award)</h1><span> – C (Arduino)		Spring 2015</span>
<p>    A robotic drink mixer that can serve you different combinations of drinks. Uses a mobile app to order
   drinks and will automatically pour them.</p>
<h1>LiftTracker</h1><span> – AngularJS, Node.js, MongoDB Summer 2015 – present</span>
  A suite of tools that athletes can utilize to generate lifting programs and track progress.

<h1>HelpOut</h1><span> – Ruby on Rails						May 2015 – Summer 2015</span>
  A twitter-like website used to authenticate a user, then allow them to post help requests to a feed. A user
  has a profile that contains all of their requests.