<div id='projectsHeader'>
  <h1>Personal Projects</h1>
  <h2>Here are a few of my favorite personal projects.</h2>
</div>

<div>
  <md-card class='animated fadeIn'>
   <md-card-content>
     <h2 style='display:inline;'>Robartender (Most Mad Hack Award)</h2><span style='font-size: 20px;'> - Spring 2015</span>
     <h3>C (Arduino), JavaScript</h3>
     <p>During Madison's first ever Hackathon, I worked with my good friends Nick Thoma and Zach VanderVelden to make a robotic bartender. We decided on the idea before the hackathon and started ordering some of the hardware. We decided to use an Arduino to power seven different servo motors. Depending on the serial data that we sent the Arduino, it would turn the correct bottle. The cup sits on top of the scale, so that we are able to keep track of how much liquid has been poured into the cup. We had a Rasberry Pi running a server, and connected it directly to the Arduino. The person ordering a drink would use our mobile app to choose their drink and desired size, and the server would parse the information and send serial data to the Arduino. The project was insanely fun to work on and we ended up being in the top three finishers for the Most Mad Hack category.</p>
     <img class="md-card-image" id='projectPic' src='../img/Robartender2.jpg' style='height:200px; width: 250px; padding: 10px;' />
	   <img class="md-card-image" id='projectPic' src='../img/Robartender3.jpg' style='height:200px; width: 250px; padding: 10px;' />
   </md-card-content>
  </md-card>
</div>

<!--
<div>
  <md-card class='animated fadeIn'>
   <md-card-content>
     <h2 style='display:inline;'>C Helper Data Structures</h2><span style='font-size: 20px;'> - Spring 2016</span>
     <h3>C</h3>
     <p>Created a LinkedList and Stack in C.</p>
   </md-card-content>
  </md-card>
</div>
-->

<div>
  <md-card class='animated fadeIn'>
   <md-card-content>
     <h1 style='display: inline'>Beatpad</h1><span style='font-size: 20px;'> - Summer 2015 – present</span>
     <h3>iOS</h3>
     <p>This is an iPhone application that lets somebody record up to eight different custom recordings and play them back simultaneously. You could think of it as a personal beat box machine. I'm still working on some of the UI, but am hoping to get it into the App Store by the end of 2015.</p>
   </md-card-content>
  </md-card>
</div>


<div>
  <md-card class='animated fadeIn'>
   <md-card-content>
     <h1 style='display: inline'>HelpOut</h1><span style='font-size: 20px;'> – May 2015 – Summer 2015</span>
     <h3>Ruby on Rails</h3>
     <p>A twitter-like website used to authenticate a user, then allow them to post help requests to a feed. A user
  has a profile that contains all of their requests.</p>
   </md-card-content>
  </md-card>
</div>

<div>
  <md-card class='animated fadeIn'>
   <md-card-content>
     <h1 style='display: inline'>LiftTracker</h1><span style='font-size: 20px;'> – Summer 2015 – present</span>
     <h3>AngularJS, Node.js, MongoDB</h3>
     <p>A suite of tools that athletes can utilize to generate lifting programs and track progress</p>
   </md-card-content>
  </md-card>
</div>

<div>
  <md-card class='animated fadeIn'>
   <md-card-content>
     <h1 style='display: inline'>Fitbit Tracker</h1><span style='font-size: 20px;'> - August 2015 - present</span>
     <h3>Ruby on Rails</h3>
     <p>Used Ruby’s fitgem API to fetch and display fitbit data on a Rails website. Compared data from my parents such as daily / weekly steps.</p>
   </md-card-content>
  </md-card>
</div>


<div>
  <md-card class='animated fadeIn'>
   <md-card-content>
     <h1 style='display: inline'>Chrome Extension</h1><span style='font-size: 20px;'> - August 2015</span>
     <h3>Javascript</h3>
     <p>Simple chrome plugin utilizing GTmetrix API to generate performance and suggestions about a webpage.</p>
   </md-card-content>
  </md-card>
</div>
