<div align='center' class='container-fluid'>
	<p>
		I've picked up a few skills and a handful of languages throughout the past couple of years. Here's a few categories I thought were worth mentioning:
	</p>
</div>

<div>
	<div>
		<h2>Languages</h2>
		<p style='text-indent: 30px;'>
			<u>Experienced:</u> Java, C#, JavaScript, C, HTML, CSS
		</p>
		<p style='text-indent: 30px;'>
			<u>Comfortable:</u> Ruby, C++
		</p>
	</div>
	
	<div>
		<h2>Frameworks</h2>
		<p style='text-indent: 30px;'>
			AngularJS, Ruby on Rails, ASP.NET, Bootstrap
		</p>
	</div>
	
	<div>
		<h2>Operating Systems</h2>
		<p style='text-indent: 30px;'>
			Mac OS X, Linux, Windows
		</p>
	</div>
	
	<div>
		<h2>Hardware</h2>
		<p style='text-indent: 30px;'>
			Rasberry Pi, Arduino
		</p>
	</div>
	
	<div>
		<h2>Source Control</h2>
		<p style='text-indent: 30px;'>
			Git, Mercurial
		</p>
	</div>
	
	<div>
		<h2>Other</h2>
		<p style='text-indent: 30px;'>
			Phabricator, GitHub, BitBucket
		</p>
	</div>
</div>
<!--
<div>
	<h2>
		<h3>Languages</h3>
		<div class='level'>
			<h4>Experienced:</h4>
			<ul class='skill'>
				<li>Java</li>
				<li>C#</li>
				<li>JavaScript</li>
				<li>C</li>
				<li>HTML</li>
				<li>CSS</li>
			</ul>

			<h4>Comfortable:</h4>
			<ul class='skill'>
				<li>Ruby</li>
				<li>C++</li>
			</ul>
		</div>
	</h2>

	<h2>
		<h3>Frameworks</h3>
		<ul class='skill'>
			<li>AngularJS</li>
			<li>Ruby on Rails</li>
			<li>ASP.NET</li>
			<li>Bootstrap</li>
		</ul>
	</h2>

	<h2>
		<h3>Operating Systems</h3>
		<ul class='skill'>
			<li>Mac OS X</li>
			<li>Linux</li>
			<li>Windows</li>
		</ul>
	</h2>

		<h3>Hardware</h3>
		<ul class='skill'>
			<li>Rasberry Pi</li>
			<li>Arduino</li>
		</ul>
	</h2>

		<h3>Source Control</h3>
		<ul class='skill'>
			<li>Git</li>
			<li>Mercurial</li>
		</ul>
	</h2>

	<h2>
		<h3>Other</h3>
		<ul class='skill'>
			<li>Phabricator</li>
			<li>Github</li>
			<li>BitBucket</li>
		</ul>
	</div>
	</h2>
</div>-->
